.heading {
  font-family: "Courier New";
  text-align: center;
}

h1{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 68px;
}

h1, h1 {
  font-size: 44px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 68px;
}

.container {
  overflow: auto;
  width:1000px;
  display: inline-block;
}

div.scrollmenu a {
  background:#EFEFEF; 
  box-shadow: 1px 1px 10px #999; 
  margin: auto; 
  text-align: center; 
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px !important;
  width: 95px;
  padding-top: 5px;
}


div.scrolls{
  overflow-x: scroll;
  overflow-y: hidden;
  height: 1000px;
  overflow: auto;
  white-space: nowrap;
white-space:nowrap
}

div.scrollmenu img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


.imageDiv img { 
  box-shadow: 1px 1px 10px #999; 
  margin: 2px;
  max-height: 50px;
  cursor: pointer;
display:inline-block;
*display:inline;
*zoom:1;
vertical-align:top;
}
